<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>153467667476-u1m8dd2uc0dkakj58gmghadjf3titshc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153467667476-u1m8dd2uc0dkakj58gmghadjf3titshc</string>
	<key>API_KEY</key>
	<string>AIzaSyBQFTL6I8-5uXDB3oxyhD9FIzZ97oDmqfY</string>
	<key>GCM_SENDER_ID</key>
	<string>153467667476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dynamicallydylagent.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1e25f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1e25f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153467667476:ios:cb75b99eec5bc057</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-1e25f.firebaseio.com</string>
</dict>
</plist>